/* Descrioption JS */

.container_description{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-size: cover; 
    align-items: center;
}
/* produits JS */
.btn_delete{
    position: relative;
    top:1rem;
    left: 16rem;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: black;
    background: #f1f1f1;
    cursor: pointer;
}
.btn_delete:hover{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
    background: coral;
    cursor: pointer;
}
.listes_produits{
    overflow-y: scroll;
    height: 500px;
}